@media (min-width: 550px) and (max-width: 1024px) {
  .popular-collection .section-title {
    font-size: 20px;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
  }
  .product {
    width: 270px;
    height: 410px;
  }
  .product img {
    width: 240px;
    height: 196px;
  }
  .support-section .section-title {
    margin-top: 90px;
  }
}
/* end 550px */
@media (min-width: 1025px) {
  .cover-section {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    margin-left: 150px;
    margin-right: 165px;
  }
  .cover-info {
    text-align: start;
  }
  .cover p {
    text-align: start;
  }
  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
  .support-option {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* end 1001px */
