@media (min-width: 550px) {
  .popular-collection .section-title {
    font-size: 20px;
  }
  .product-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 2%;
  }
  .product {
    width: 270px;
    height: 410px;
  }
  .product img {
    width: 240px;
    height: 196px;
  }
}
/* end 550px */
@media (min-width: 972px) {
}
/* end 972px */
