/* some fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* header style */
header h3 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #3a3a3a;
  font-weight: 700;
}
/* main style */
.cover-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover img {
  width: 202px;
  height: 190px;
  transition: transform 2.2s;
}
.cover img:hover {
  transform: scale(1.4);
}
.cover h1 {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
}
.cover p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.cover-section {
  text-align: center;
}
.preebook-button {
  margin-left: 0px;

  padding: 10px 24px;
  border-radius: 41px;
  width: 194px;
  height: 44px;
  background-color: #e02c6d;
  color: #ffffff;
  border: none;
}
.preebook-button a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}
.fa-arrow-right {
  margin: 0 8px;
}
.popular-collection {
  margin-top: 100px;
}
/* popular collection style */
.popular-collection .section-title {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.product-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  grid-row-gap: 15px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 329px;
  height: 476px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.product-card {
  padding: 17px;
}

.product-name {
  font-family: "Poppins", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-top: 12px;
  margin-bottom: 6px;
}
.price-tag {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.fa-star {
  font-size: 10px;
  color: #fb8200;
}
.ratting-no {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 500;
}
.product-info p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #787885;
}
.see-more {
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  margin-top: 32px;
}
.see-more a {
  color: #e02c6d;
  text-decoration: none;
}
/* support area style */

.support-section .section-title {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
.support-option {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.option {
  text-align: center;
}
.option a {
  text-decoration: none;
  color: #e02c6d;
  font-weight: bold;
}

/*---------------
  footer style 
-----------------*/
footer {
  height: 239px;
  background-color: #0a0826;
}
.footer-section {
  width: 262px;
  height: 139px;
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer h5 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 3px;
}
footer p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #d9dbe1;
  margin-top: 0;
  margin-bottom: 3px;
}
.social-media {
  display: flex;
}
.social-media li {
  list-style: none;
}

footer a {
  color: #ffffff;
  margin-top: 14px;
  margin-right: 16px;
}
